* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 84, 135, 0.4),
    rgb(0, 40, 86, 0.6)),
  url('../img/earth-hero.jpg');
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%, 0 90%);
  position: relative;
}

.logo-box {
  position: absolute;
  left: 40px;
  top: 40px;
}

.logo {
  height: 30px;
}

.heading-primary {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.text-box {
  color: rgb(218,169,0);
  text-transform: uppercase;
  text-align: center;
}

.heading-primary-main {
  display: block;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 30px;

  animation: moveInRight 1s ease-out 2s;
}

.heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 17px;

  animation: moveInLeft 1s ease-out 2s;
}

@keyframes moveInRight {
  0% { transform: translateX(-80px); }
  80% { transform: translateX(15px); }
  100% { transform: translateX(0); }
}

@keyframes moveInLeft {
  0% { transform: translateX(80px); }
  80% { transform: translateX(-15px); }
  100% { transform: translateX(0); }
}
