* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 84, 135, 0.4),
    rgb(0, 40, 86, 0.6)),
  url('../img/earth-hero.jpg');
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%, 0 90%);
  position: relative;
}

.logo-box {
  position: absolute;
  left: 40px;
  top: 40px;
}

.logo {
  height: 30px;
}

.heading-primary {
  backface-visibility: hidden;
  color: rgb(218,169,0);
  margin-bottom: 50px;
  text-transform: uppercase;
}

.text-box {
  position: relative;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
}

.heading-primary-main {
  display: block;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 30px;

  animation: moveInRight 1s ease-out 2s;
}

.heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 17px;

  animation: moveInLeft 1s ease-out 2s;
}

@keyframes moveInRight {
  0% { transform: translateX(-80px); }
  80% { transform: translateX(15px); }
  100% { transform: translateX(0); }
}

@keyframes moveInLeft {
  0% { transform: translateX(80px); }
  80% { transform: translateX(-15px); }
  100% { transform: translateX(0); }
}

@keyframes moveInBottom {
  0% { 
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  backface-visibility: hidden;
  border-radius: 100px;
  color: #555;
  padding: 10px 60px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative;
}

.btn-yellow {
  background-color: rgb(218,169,0);
}

.btn:hover {
  box-shadow: 0 10px 20px #002856;
  transform: translateY(-3px);
}
.btn:active {
  box-shadow: 0 10px 10px #002856;
  transform: translateY(-1px);
}

.btn::after {
  content: '';
  height: 100%;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  transition: all .4s;
  left: 0;
  z-index: -1;
}

.btn-yellow::after {
  background-color: rgb(218,169,0);
}

.btn:hover::after {
  transform: scaleX(1.6) scaleY(2);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
}
