*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 84, 135, .4),
    rgb(0, 40, 86, 0.6)),
  url('../img/earth-hero.jpg');
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%, 0 90%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3rem;
}

.heading-primary {
  backface-visibility: hidden;
  color: rgb(218,169,0);
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.text-box {
  position: relative;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
}

.heading-primary--main {
  display: block;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 3rem;

  animation: moveInRight 1s ease-out 2s;
}

.heading-primary--sub {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.7rem;

  animation: moveInLeft 1s ease-out 2s;
}

@keyframes moveInRight {
  0% { transform: translateX(-8rem); }
  80% { transform: translateX(1.5rem); }
  100% { transform: translateX(0); }
}

@keyframes moveInLeft {
  0% { transform: translateX(8rem); }
  80% { transform: translateX(-1.5rem); }
  100% { transform: translateX(0); }
}

@keyframes moveInBottom {
  0% { 
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  backface-visibility: hidden;
  border-radius: 10rem;
  color: #555;
  font-size: 1.6rem;
  padding: 1rem 6rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative;
}

.btn--yellow {
  background-color: rgb(218,169,0);
}

.btn:hover {
  box-shadow: 0 1rem 2rem #002856;
  transform: translateY(-.3rem);
}
.btn:active {
  box-shadow: 0 1rem 1rem #002856;
  transform: translateY(-.1rem);
}

.btn::after {
  content: '';
  height: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  transition: all .4s;
  left: 0;
  z-index: -1;
}

.btn--yellow::after {
  background-color: rgb(218,169,0);
}

.btn:hover::after {
  transform: scaleX(1.6) scaleY(2);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
}
